@import "../../Variables.scss";

.CarData {
	align-items: center;
	background-color: $dark-beige;
	display: flex;
	flex-direction: column;
	flex: 0 0 52rem;
	justify-content: space-around;
	padding: 10rem 8.5rem 7rem;

	h3 {
		@include subTitle;
		margin: 0 0 8rem;
		text-align: center;
	}

	&__logo {
		margin-bottom: 4rem;
	}

	&__table {
		color: $dark-green;
		font-size: 1.4rem;
		width: 100%;

		&__row {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 3rem 0;

			&::after {
				content: '';
				background-image: radial-gradient(circle, rgba($black, .3) 1px, transparent 1px);
				background-position-y: center;
				background-size: 1ex 3px;
				background-repeat: repeat-x;
				height: 1em;
				flex-grow: 1;
				order: 2;
				margin: 0 1rem;
			}

			span {
				&:first-child {
					opacity: .8;
					order: 1;
				}

				&:last-child {
					order: 3;
				}
			}
		}
	}
}