@import "../../Variables.scss";

.Gallery {
	align-items: center;
	background-color: $dark-green;
	color: $white;
	display: flex;
	flex: 0 0 100vw;
	justify-content: center;

	&__container {
		position: relative;
	}

	&__item {
		margin-bottom: 3rem;

		img {
			max-height: 53rem;
			max-height: calc(100vh - 32rem);
			width: auto;
		}
	}

	&__caption {
		display: flex;
		font-size: 1.4rem;
		justify-content: space-between;
	}

	&__counter {
		opacity: .3;
	}

	&__arrow {
		background: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 41 41" version="1.1" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M41,0.5c0,-0.276 -0.224,-0.5 -0.5,-0.5l-40,0c-0.276,0 -0.5,0.224 -0.5,0.5l0,40c0,0.276 0.224,0.5 0.5,0.5l40,0c0.276,0 0.5,-0.224 0.5,-0.5l0,-40Zm-40,0.5l0,39l39,0l0,-39l-39,0Zm8.566,19.078l7.196,-7.219c0.125,-0.109 0.269,-0.164 0.433,-0.164c0.164,0 0.309,0.055 0.434,0.164c0.109,0.125 0.164,0.27 0.164,0.434c0,0.164 -0.055,0.309 -0.164,0.434l-6.188,6.164l19.547,0c0.172,0 0.317,0.058 0.434,0.175c0.117,0.118 0.176,0.262 0.176,0.434c0,0.156 -0.059,0.293 -0.176,0.41c-0.117,0.117 -0.262,0.176 -0.434,0.176l-19.547,0l6.164,6.187c0.125,0.11 0.188,0.25 0.188,0.422c0,0.172 -0.055,0.313 -0.164,0.422c-0.063,0.063 -0.133,0.11 -0.211,0.141c-0.078,0.031 -0.156,0.047 -0.234,0.047c-0.079,0 -0.153,-0.016 -0.223,-0.047c-0.07,-0.031 -0.137,-0.078 -0.199,-0.141l-7.196,-7.195c-0.109,-0.125 -0.164,-0.27 -0.164,-0.434c0,-0.164 0.055,-0.301 0.164,-0.41Z" fill="%23fff"/></svg>');
		background-size: contain;
		border: 0;
		bottom: 0;
		cursor: pointer;
		display: block;
		height: 4rem;
		margin: auto;
		opacity: .3;
		position: absolute;
		top: 0;
		transition: $transition;
		width: 4rem;

		&:hover,
		&:active {
			opacity: .6;
		}

		&--left {
			left: -12rem;
		}

		&--right {
			right: -12rem;
			transform: rotate(180deg);
		}

		&:disabled {
			cursor: initial;
			opacity: 0;
		}
	}
}
