@import "../../Variables.scss";

.Intro {
	&__image {
		flex: 0 0 85rem;
		height: 100%;
		
		img {
			height: 100%;
			max-width: 100%;
			object-fit: cover;
			width: 850rem;
		}
	}
	
	&__content {
		background-position: right top;
		background-repeat: no-repeat;
		display: flex;
		// flex: 0 0 100vw;
		flex: 1 0 auto;
		flex-direction: column;
		justify-content: space-between;
		max-width: 156rem;
		padding: 10rem 26rem 8rem 10rem;
	}
	
	&__title {
		@include title;
		font-size: 10rem;
		margin: 0;
		
		&+div {
			max-width: 115rem;
		}
		
		&+.Intro__columns {
			max-width: none;
			
			@media (min-width: 1360px) {
				width: 135rem;
			}
		}
	}
	
	&__subtitle {
		@include subTitle;
		font-size: 3rem;
		margin: 6rem 0;
		width: 50%;
	}
	
	&__body {
		@include body;
		column-count: 2;
		column-gap: 5rem;
		font-size: 2.2rem;
	}
	
	&__sideImage {
		height: 100%;
		max-width: 100%;
	}
	
	&__columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 38px;
		
		.Intro__subtitle {
			width: auto;
		}
		
		.Intro__body {
			column-count: 1;
		}
	}
	
	&__column {
		&--images {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px;
		}
		
		&__image {
			max-width: 100%;
		}
	}
}
