@import "./Variables.scss";

* {
	box-sizing: border-box;
}

html {
	font-size: 8px;
	font-family: $body-font;
	
	@media (min-width: 1360px) {
		font-size: 10px;
	}
	
	@media (min-width: 2500px) {
		font-size: 16px;
	}
}

body {
	color: $dark-grey;
}

p {
	margin: 0 0 1.4rem;
}

a {
	color: $green;
	font-style: italic;
	transition: $transition;

	&:hover,
	&:active {
		color: $dark-green;
	}
}

#root {
	// overflow-x: scroll;
	// overflow-y: hidden;
}

#root,
.Story {
	// display: flex;
	height: 100vh;
	// max-height: 100%;
}

.Story {
	display: flex;
	
	& > * {
		height: 100vh;
	}
}

.Carousel {
	height: 100vh;
	max-height: 100%;
}
