/* Variables */
$heading-font: 'BioRhyme Expanded',
serif;
$subheading-font: 'Krona One',
sans-serif;
$body-font: 'Work Sans',
sans-serif;

$transition: all .5s cubic-bezier(.6, .05, .1, .99);

$dark-grey: #1d281f;
$medium-grey: #2d352c;
$green: #5c8157;
$dark-green: #2d352c;
$beige: #f0e8dd;
$dark-beige: #faedd4;
$black: #000;
$white: #fff;

@mixin title {
	font-family: $heading-font;
	font-weight: 800;
	letter-spacing: .03em;
	text-transform: uppercase;
}

@mixin subTitle {
	font-family: $subheading-font;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.4;
}

@mixin body {
	font-family: $body-font;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.4;
}