@import "../../Variables.scss";

.ImageList {
	background: $beige;
	display: flex;
	padding: 0 9rem;
	align-items: center;

	&__container {
		display: flex;
		max-width: -webkit-fit-content;
		max-width: -moz-fit-content;
		max-width: fit-content;
	}

	&__item {
		display: table;
		margin: 0 5rem;
		width: 1%;
	}

	&__source {
		color: rgba($medium-grey, .5);
		text-decoration: none;

		&:hover,
		&:active {
			color: rgba($medium-grey, 1);
		}
	}

	figcaption {
		font-size: 1.4rem;
		line-height: 1.4;
		margin: 3rem 0 0;
	}
}
